<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service
            android:name="com.molinax.manager.terminal.service.TerminalService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Interactive Linux terminal session (proot + Debian rootfs) diminta langsung oleh pengguna" />
        </service>
    </application>

</manifest>
